In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import time
from datetime import datetime
import matplotlib.pyplot as plt
plt.rcParams['font.sans-serif'] = ['SimHei']  #显示中文
plt.rcParams['axes.unicode_minus']=False #用来正常显示负号
import pylab
pylab.rcParams['figure.figsize'] = (15.0, 8.0) # 显示大小

In [36]:
def hand_col(df,col ="发动机转速",n=240):
    
    ####计算col停顿时间
    df["last_notna_time"] = df[df[col].notna()].Time   ##当时不是na的时间
    df_notna_time = df[df[col].notna()].Time
    df_notna_time_diff = (df_notna_time - df_notna_time.shift(1)).dt.total_seconds()
    df["last_notna_time_diff"] = df_notna_time_diff
    df["last_notna_time_diff"] = df["last_notna_time_diff"].fillna(method = "bfill")
    
    df.loc[df["last_notna_time_diff"]> n,col] = df.loc[df["last_notna_time_diff"]> n,col].fillna(0)  #长时间na的填充0
    df[col] = df[col].fillna(method = "ffill")
    return df

In [37]:
def cz(df,idx,col="累计油耗"):
    num = len(idx)
    for i in range(num-1):
        start = idx.iloc[i]
        end = idx.iloc[i+1]
        cz_num = end-start
        start_num = df.loc[start,col]
        end_num = df.loc[end,col]
        fillna = np.linspace(start_num,end_num,cz_num+1)
        df.loc[start:end,col] = fillna
    return df

In [38]:
def hand_col_cz(df,col ="累计油耗"):   ###插值处理
    
    ####计算col停顿间隔
    df["last_notna_idx"] = df[df[col].notna()].idx   ##当时不是na的idx
    df_notna_idx = df[df[col].notna()].idx
    df_notna_idx_diff = (df_notna_idx - df_notna_idx.shift(1))
    df["last_notna_idx_diff"] = df_notna_idx_diff
    df["last_notna_idx_diff"] = df["last_notna_idx_diff"].fillna(method = "bfill")
    
    df.loc[df["last_notna_time_diff"]> n,col] = df.loc[df["last_notna_time_diff"]> n,col].fillna(0)  #长时间na的填充0
    df[col] = df[col].fillna(method = "ffill")
    return df

In [39]:
def hand(df):
#     df = df.drop(["GPS纬度","GPS经度","GPS定位时间"],axis=1)#去除无用数据
    df["Time"] = pd.to_datetime(df["time"].str[:-3])#时间转化,直接去掉小数部分
    
    ####停机以发动机数据为准,处理缺失发动机转数
    df = hand_col(df,col ="发动机转速",n=240)
    
    df = hand_col(df,col ="系统压力",n=240)
    
    df = hand_col(df,col ="转向次数",n=240)
    
    df = hand_col(df,col ="泵送排量",n=240)
    
    df = hand_col(df,col ="泵车状态",n=120)
    
    ####油耗单独填充,插值
    df_notna_idx = df[df["累计油耗"].notna()].idx
    df = cz(df,df_notna_idx,col="累计油耗")
    ###
    
    
    ####泵送计时填充
    df["累计时间"] = df["累计时间"].fillna(method = "ffill")
    
    
    
    ####液压油温用插值
    df_notna_idx = df[df["液压油温"].notna()].idx
    df = cz(df,df_notna_idx,col="液压油温")
    return df

In [40]:
def hand_col_new(df,col ="发动机转速",n=240):
    
    ####计算col停顿时间
    df["last_notna_time"] = df[df[col].notna()].second_idx   ##当时不是na的时间
    df_notna_time = df[df[col].notna()].second_idx
    df_notna_time_diff = (df_notna_time - df_notna_time.shift(1))
    df["last_notna_time_diff"] = df_notna_time_diff
    df["last_notna_time_diff"] = df["last_notna_time_diff"].fillna(method = "bfill")
    
    df.loc[df["last_notna_time_diff"]> n,col] = df.loc[df["last_notna_time_diff"]> n,col].fillna(0)  #长时间na的填充0
    df[col] = df[col].fillna(method = "ffill")
#     df = df.drop(["last_notna_time","last_notna_time_diff"],axis=1)
    return df

In [41]:
df = pd.read_csv("./data/19BC54492983.csv",index_col=0)
df.columns = ["泵车状态","EquipCode","累计时间","液压油温","发动机转速","泵送排量","转向次数","系统压力","累计油耗","time"]
df = df.drop(["EquipCode"],axis=1)

df["Time"] = pd.to_datetime(df["time"].str[:-3])#时间转化,直接去掉小数部分
df["idx"] = np.arange(len(df))
df = hand(df)
df = df.dropna()
df["second"] = df.Time.apply(lambda x: time.mktime(x.timetuple()))
second_start = df.iloc[0].second
df["five_second"] = (df.second - second_start)  // 5
df_mean = df.drop("time",axis=1).groupby("five_second").mean()
df_mean["泵车状态"] = df[["泵车状态","five_second"]].groupby("five_second").max()
start = df.iloc[0].second
end = df.iloc[-1].second
second_index = np.arange(start,end,5)
second_idx = pd.DataFrame({"second_idx":second_index})
new_df = second_idx.join(df_mean)
new_df = new_df.drop(["idx","last_notna_time_diff","second"],axis=1)
new_df["time"] = pd.to_datetime(new_df['second_idx'].values, unit='s',utc=True).tz_convert("Asia/Shanghai").tz_localize(None)

new_df = hand_col_new(new_df,col ="发动机转速",n=240)
new_df = hand_col_new(new_df,col ="系统压力",n=240)
new_df = hand_col_new(new_df,col ="转向次数",n=240)
new_df = hand_col_new(new_df,col ="泵送排量",n=240)
new_df = hand_col_new(new_df,col ="泵车状态",n=240)

new_df["累计油耗"] = new_df["累计油耗"].fillna(method = "bfill")
new_df["累计时间"] = new_df["累计时间"].fillna(method = "bfill")
new_df = new_df.reset_index()
df_notna_idx = new_df[new_df["液压油温"].notna()]["index"]
new_df = cz(new_df,df_notna_idx,col="液压油温")

In [42]:
new_df

,index,second_idx,泵车状态,累计时间,液压油温,发动机转速,泵送排量,转向次数,系统压力,累计油耗,time,last_notna_time,last_notna_time_diff
0,0,1.563197e+09,0.0,0.0,49.0,562.333333,4.0,0.0,0.0,4.836391,2019-07-15 21:26:08,1.563197e+09,5.0
1,1,1.563197e+09,14.0,0.0,49.0,585.750000,4.0,0.0,0.0,5.032110,2019-07-15 21:26:13,1.563197e+09,5.0
2,2,1.563197e+09,14.0,0.0,49.0,895.200000,4.0,0.0,0.0,5.073394,2019-07-15 21:26:18,1.563197e+09,5.0
3,3,1.563197e+09,14.0,0.0,49.0,1299.000000,4.0,0.0,0.0,5.114679,2019-07-15 21:26:23,1.563197e+09,5.0
4,4,1.563197e+09,14.0,0.0,49.0,1278.600000,4.0,0.0,0.0,5.155963,2019-07-15 21:26:28,1.563197e+09,5.0
5,5,1.563197e+09,14.0,0.0,49.0,1239.600000,4.0,0.0,0.0,5.201835,2019-07-15 21:26:33,1.563197e+09,5.0
6,6,1.563197e+09,14.0,0.0,49.0,1220.500000,4.0,0.0,0.0,5.247706,2019-07-15 21:26:38,1.563197e+09,5.0
7,7,1.563197e+09,14.0,0.0,49.2,1208.400000,4.0,0.0,0.0,5.293578,2019-07-15 21:26:43,1.563197e+09,5.0
8,8,1.563197e+09,14.0,0.0,50.0,1207.750000,4.0,0.0,0.0,5.334862,2019-07-15 21:26:48,1.563197e+09,5.0
9,9,1.563197e+09,14.0,0.0,50.0,1200.400000,4.0,0.0,0.0,5.376147,2019-07-15 21:26:53,1.563197e+09,5.0
10,10,1.563197e+09,14.0,0.0,50.0,1203.600000,4.0,0.0,0.0,5.422018,2019-07-15 21:26:58,1.563197e+09,5.0
11,11,1.563197e+09,14.0,0.0,50.0,1018.000000,4.0,0.0,0.0,5.467890,2019-07-15 21:27:03,1.563197e+09,5.0
12,12,1.563197e+09,14.0,0.0,50.0,1018.000000,4.0,0.0,0.0,5.504587,2019-07-15 21:27:08,NaN,65.0
13,13,1.563197e+09,14.0,0.0,50.0,1018.000000,4.0,0.0,0.0,5.504587,2019-07-15 21:27:13,NaN,65.0
14,14,1.563197e+09,14.0,0.0,50.0,1018.000000,4.0,0.0,0.0,5.504587,2019-07-15 21:27:18,NaN,65.0
15,15,1.563197e+09,14.0,0.0,50.0,1018.000000,4.0,0.0,0.0,5.504587,2019-07-15 21:27:23,NaN,65.0
16,16,1.563197e+09,14.0,0.0,50.0,1018.000000,4.0,0.0,0.0,5.504587,2019-07-15 21:27:28,NaN,65.0
17,17,1.563197e+09,14.0,0.0,50.0,1018.000000,4.0,0.0,0.0,5.504587,2019-07-15 21:27:33,NaN,65.0
18,18,1.563197e+09,14.0,0.0,50.0,1018.000000,4.0,0.0,0.0,5.504587,2019-07-15 21:27:38,NaN,65.0
19,19,1.563197e+09,14.0,0.0,50.0,1018.000000,4.0,0.0,0.0,5.504587,2019-07-15 21:27:43,NaN,65.0
20,20,1.563197e+09,14.0,0.0,50.0,1018.000000,4.0,0.0,0.0,5.504587,2019-07-15 21:27:48,NaN,65.0
21,21,1.563197e+09,14.0,0.0,50.0,1018.000000,4.0,0.0,0.0,5.504587,2019-07-15 21:27:53,NaN,65.0
22,22,1.563197e+09,14.0,0.0,50.0,1018.000000,4.0,0.0,0.0,5.504587,2019-07-15 21:27:58,NaN,65.0
23,23,1.563197e+09,14.0,0.0,50.0,1018.000000,4.0,0.0,0.0,5.504587,2019-07-15 21:28:03,NaN,65.0
24,24,1.563197e+09,0.0,0.0,50.0,0.000000,4.0,0.0,0.0,5.504587,2019-07-15 21:28:08,1.563197e+09,65.0
25,25,1.563197e+09,0.0,0.0,50.0,0.000000,4.0,0.0,0.0,5.536697,2019-07-15 21:28:13,1.563197e+09,5.0
26,26,1.563197e+09,0.0,0.0,50.0,91.600000,4.0,0.0,0.0,5.577982,2019-07-15 21:28:18,1.563197e+09,5.0
27,27,1.563197e+09,0.0,0.0,50.0,563.200000,4.0,0.0,0.0,5.623853,2019-07-15 21:28:23,1.563197e+09,5.0
28,28,1.563197e+09,0.0,0.0,50.0,560.000000,4.0,0.0,0.0,5.669725,2019-07-15 21:28:28,1.563197e+09,5.0
29,29,1.563197e+09,14.0,0.0,50.0,678.750000,4.0,0.0,0.0,5.711009,2019-07-15 21:28:33,1.563197e+09,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
308618,308618,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:04:18,NaN,105.0
308619,308619,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:04:23,NaN,105.0
308620,308620,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:04:28,NaN,105.0
308621,308621,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:04:33,NaN,105.0
308622,308622,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:04:38,1.564740e+09,105.0
308623,308623,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:04:43,1.564740e+09,5.0
308624,308624,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:04:48,NaN,10.0
308625,308625,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:04:53,1.564740e+09,10.0
308626,308626,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:04:58,1.564740e+09,5.0
308627,308627,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:05:03,NaN,100.0
308628,308628,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:05:08,NaN,100.0
308629,308629,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:05:13,NaN,100.0
308630,308630,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:05:18,NaN,100.0
308631,308631,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:05:23,NaN,100.0
308632,308632,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:05:28,NaN,100.0
308633,308633,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:05:33,NaN,100.0
308634,308634,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:05:38,NaN,100.0
308635,308635,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:05:43,NaN,100.0
308636,308636,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:05:48,NaN,100.0
308637,308637,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:05:53,NaN,100.0
308638,308638,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:05:58,NaN,100.0
308639,308639,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:06:03,NaN,100.0
308640,308640,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:06:08,NaN,100.0
308641,308641,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:06:13,NaN,100.0
308642,308642,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:06:18,NaN,100.0
308643,308643,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:06:23,NaN,100.0
308644,308644,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:06:28,NaN,100.0
308645,308645,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:06:33,NaN,100.0
308646,308646,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:06:38,1.564740e+09,100.0
308647,308647,1.564740e+09,0.0,2.7,42.0,0.000000,0.0,0.0,0.0,207.000000,2019-08-02 18:06:43,1.564740e+09,5.0

In [26]:
ctime = new_df.loc[6]["time"]

In [43]:
window = 12*35
step= window/3
start = 0
lenth = len(new_df)
while start + window < lenth:
    slid = new_df.loc[start:start+window]
    start += step
    time = new_df.loc[start]["time"]
    time = str(time)
    time = time.replace(":","_")
    slid.to_csv("./tmp/sample_"+time+".csv",index=None)